@model List<Donut_Shop_App.Models.Donut>
@{
    ViewBag.Title = "GetAllDonuts";
}

<h2>Donuts:</h2>
<ul>
    @{
        int i = 0;
        foreach (var donut in Model) { 
        <li>
            <img src="@donut.Image" style="max-width:150px" />
            @Html.ActionLink(donut.Name, "ShowDonut", new { id = i }) |
            @Html.ActionLink("Edit", "EditDonut", new { id = i }) |
            @Html.ActionLink("Delete", "DeleteDonut", new { id = i })
         </li>
            i++;
        }

    }
</ul>

